body{
    background-color: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    display: grid;
    gap: 60px;
    justify-items: center;
    margin-top: 60px;
}

ul{
    list-style: none;
}

h1{
    text-align: center;
}

.img-bicletas{
    max-width: 40%;
    justify-self: end;
    border-radius: 5px;
}

.bicicleta-container{
}
.bicicletas-grid{
    display: flex;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 1fr 1fr ;
    padding: 10px;
    gap: 60px;
    width: 1400px;
    height: auto;
}

.nome-bicletas{
    justify-self: start;
}