body{
    background-color: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    

}

ul{
    list-style: none;
}

h1{
    text-align: center;
}

.img-bicletas{
    max-width: 40%;
    justify-self: end;
}

.bicicleta-container{
}
.bicicletas-grid{
    display: grid;
    background-color: rgb(211, 208, 208);
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 60px;
}

.nome-bicletas{
    justify-self: start;
}